name: Test Suite

on:
  pull_request:
  push:
    branches:
      - main

env:
  RUSTFLAGS: "-D warnings"
  RUST_VERSION: "1.90.0"

jobs:
  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt, clippy
          toolchain: ${{ env.RUST_VERSION }}

      - name: Run cargo fmt
        run: cargo fmt --all --check

      - name: Run cargo clippy with default (rust-tls) feature
        run: cargo clippy --example logger

      - name: Run cargo clippy with native-tls feature
        run: cargo clippy --example logger --features native-tls --no-default-features

  build:
    name: Build release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_VERSION }}

      - name: Build release with default (rust-tls) feature
        run: cargo build --release --example logger

      - name: Build release with native-tls feature
        run: cargo build --release --example logger --features native-tls --no-default-features
